#navigation{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation div{
    width: 45px;
}

#player{
    margin: 1rem;
}

@media screen and (min-width:576px) {
    body{
        max-height: 100vh;
        overflow: hidden;
    }
    #container{
        display: flex;
    }
    #playlist {
        height: 100%;
        overflow-y: scroll;
    }
}